# This is Git's per-user configuration file.
[user]
	name = Nathan Bailey
	email = dev@dnbailey.org
[core]
	editor = atom --wait
[github]
	user = dnbailey
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
