# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
# name = Nathan Bailey
#	email = dev@dnbailey.org
[user]
	name = Nathan Bailey
	email = dev@dnbailey.org
